.custom-scrollbar::-webkit-scrollbar {
    width: 5px; /* Épaisseur de la barre de défilement */
    height: 5px; /* Hauteur de la barre de défilement */
    background-color: rgb(19 20 36 / 0.5); /* Arrière-plan transparent */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #8b0000; /* Couleur de la poignée en rouge cassé */
    border-radius: 5px; /* Bordure arrondie de la poignée */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #800000; /* Couleur de la poignée en rouge cassé foncé au survol */
  }